#root {
}

.navbar-container {
  width: 100vw;
  height: 100px;
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 5em;
}
.cart {
  margin-right: 10em;
}

.cart-container {
  width: 100vw;
  height: 80vh;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  overflow: scroll;
}

.cart-list {
  border-left: 1px solid #333;
  min-height: 20%;
  width: 20vw;
  background-color: white;
  overflow: scroll;
}

.cart-total-container {
  background-color: white;
  border-bottom: 1px solid #333;
  width: 20vw;
  border-left: 1px solid #333;
}

.cart-total {
  padding: 10px;
  text-align: center;
  width: 100%;
}

.close-cart {
  color: white;
  padding: 5px;
  background-color: rgb(40, 40, 97);
}

.close-cart:hover {
  cursor: pointer;
}
.to-payment-btn {
  width: 100%;
  border: none;
  background-color: rgb(87, 182, 120);
  color: white;
  padding: 10px;
}

.cart-items {
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  min-height: 50%;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.cart-info-container {
  padding: 10px;
}

.cart-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cart-empty {
  color: #333;
}

.cart-items-btn {
  width: 50%;
  border: none;
  padding: 10px;
  color: white;
}

.add {
  background-color: rgb(87, 182, 120);
}

.remove {
  background-color: rgb(40, 40, 97);
}
.movie-img-cart {
  width: 50%;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.73);
  backdrop-filter: blur(4px);
  top: 50%;
  transform: translate(0%, -50%);
}

.modal-box {
  border: 1px solid #333;
  border-radius: 5px;
  width: 80vw;
  height: 20rem;
  background-color: white;
}

.modal-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  padding: 1.5em;
}

.background {
  background-color: #333;
}

.movie-main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.single-movie-container {
  width: 10em;
  margin: 0.5em;
  border: 0.5px solid rgb(87, 182, 120);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
}

.single-movie-container:hover {
  transform: scale(1.02);
  border: 1px solid rgb(87, 182, 120);
}
.img-container {
  min-height: 16em;
}

.img-container:hover {
  cursor: pointer;
}

.img-frontpage {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.info-container {
  padding: 1em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}
/* .info-container-show {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
} */

.movie-name-container {
  display: flex;
  align-items: flex-start;
}

.movie-name {
  font-size: 0.8rem;
  text-align: start;
}

.btn-container {
  display: flex;
  align-items: flex-end;
}

.btn-global {
  padding: 0.5em;
  width: 50%;
}

.btn-buy {
  border: none;
  border-radius: 0px 0px 0px 5px;
  background-color: rgb(87, 182, 120);
  color: white;
}

.btn-info {
  border: none;
  border-radius: 0px 0px 5px 0px;
  background-color: rgb(40, 40, 97);
  color: white;
}

.btn-close {
}

.btn-global:hover {
  cursor: pointer;
}
